@import url(fonts.css);

:root {
    --primaryColor: #E3474D;
    --secondaryColor: #000;
    --primaryFont: 'Jost', sans-serif;
    --secondaryFont: 'A Love of Thunder';
}

body {
    font-family: var(--primaryFont);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondaryFont);
}

.primaryFont {
    font-family: var(--primaryFont);
}

.secondaryFont {
    font-family: var(--secondaryFont);
}

.primaryColor {
    color: var(--primaryColor);
}

.secondaryColor {
    color: var(--secondaryColor);
}

.cyanColor {
    color: #07DCEC;
}

.grayColor {
    color: #b2b2b2;
}

.fRegular {
    font-weight: 400;
}

.fBold {
    font-weight: 700;
}

.pointer {
    cursor: pointer;
}


.notBtn {
    background: #fff0;
    border: none;
}

.pageTitle {
    font-size: 36px;
    color: #000;
}

.sectionTitle {
    font-size: 22px;
    color: #000;
}

.secondaryWrapper {
    color: #fff;
    background: var(--primaryColor);
    margin: 0px -2.3rem;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.secondaryTitle {
    font-size: 26px;
    margin: 0;
}

.idBar {
    font-size: 16px;
    margin: 0;
}

.backTitleWrap {
    display: flex;
    align-items: center;
}

.backTitleWrap button {
    font-size: 20px;
}

.dashCard {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #e0e0e0;
}






.productImage {
    position: relative;
    aspect-ratio: 2/1;
}

.productImage img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 2/1;
}

.mainProductImage img {
    max-height: 360px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 2/1;
}

.secondaryProductImage img {
    max-height: 180px;
    object-fit: cover;
    object-position: center;
}

.removeImage {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 99px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}




.overallRating {
    font-size: 38px;
}

.ratingBar {
    border-radius: 99px;
    border: 1px solid #999;
    padding: 3px;
    background: #fff;
    height: 1.2rem;
    flex-grow: 1;
    margin-right: 10px;
}

.ratingBar .progress-bar {
    background: #ff9529;
    border-radius: 99px;
}




.userIimageFrame {
    display: table;
    width: 120px;
    height: 120px;
    border: 2px solid #e4e4e4;
    border-radius: 99px;
    position: relative;
    flex-shrink: 0;
}

.userImage {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
}

.userIimageFrame .uploadCamera {
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: var(--primaryColor);
    color: #fff;
    border: none;
    border-radius: 99px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.uploadInput {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 99px;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}

.mainLabel {
    font-family: 'A Love of Thunder';
    font-size: 16px;
    font-weight: 400;
    color: #000;
    display: block;
    word-break: break-word;
    margin-bottom: 5px;
}

.mainText {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    word-break: break-word;
    margin-bottom: 5px;
}

.deleteButton {
    font-size: 16px;
    background: #fff;
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 5px;
}






/*---------- Custom Scrollbar Start ----------*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e0e0e0;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primaryColor);
}

/*---------- Custom Scrollbar End ----------*/







/*---------- Input Css Start ----------*/
.siteLabel {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 1.5rem;
}

.siteInput {
    display: block;
    background: #fff;
    border: 1px solid #E0E0E0;
    font-weight: 400;
    padding: 12px 20px;
    font-size: 15px;
    color: #000;
    width: 100%;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 99px;
    -moz-appearance: none;
}

.siteInput::placeholder {
    color: #b2b2b2;
}

select.siteInput {
    appearance: auto;
}

textarea.siteInput {
    border-radius: 10px;
}

/*---------- Input Css End ----------*/







/*---------- Custom Modal Start ----------*/
.closeModal {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 3px solid #000;
    border-radius: 99px;
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    font-size: 16px;
}

.customModal {
    padding: 1rem 2rem;
}

.modalHeading {
    text-align: center;
}

/*---------- Custom Modal End ----------*/




/*---------- Custom Table Css Start ----------*/
.customTable {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px 20px;
    vertical-align: middle;
    padding: 0px 0.2rem;
}

.customTable th {
    text-transform: uppercase;
    vertical-align: middle;
}

.customTable tbody tr {
    box-shadow: 0px 0px 6px rgb(0 0 0 / 12%);
    border-radius: 10px;
}

.customTable tr th, .customTable tr td {
    padding: 1rem 2.5rem;
}

.customTable tbody tr td {
    font-size: 15px;
    font-weight: 500;
    color: #999;
}

.customTable .dropdown-menu {
    border: none !important;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #e0e0e0;
}

.customTable .dropdown-item:hover,
.customTable .dropdown-item.active,
.customTable .dropdown-item:active {
    color: #fff !important;
    background-color: var(--primaryColor) !important;
}

.customTable .dropdown-item:hover p,
.customTable .dropdown-item:hover span,
.customTable .dropdown-item:hover svg path {
    color: #fff !important;
    fill: #fff;
}

.customPagination {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px #ccc;
}

.customPagination .page-item .page-link {
    color: #000 !important;
    border-color: #E6E1E1 !important;
    padding: 0.5rem 1.2rem !important;
}

.customPagination .page-item:first-child .page-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.customPagination .page-item:last-child .page-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.customPagination .page-item.active .page-link, .customPagination .page-item:hover .page-link {
    background: #000;
    color: #fff !important;
}

.statusBar {
    display: inline-block;
    border: 2px dotted;
    border-radius: 99px;
    padding: 10px 20px;
}

.statusRandom {
    color: #999;
    border-color: #999;
}

.statusPending {
    color: #EBB517;
    border-color: #EBB517;
}

.statusDelivered {
    color: #2FC403;
    border-color: #2FC403;
}

.statusProcess {
    color: #AAD205;
    border-color: #AAD205;
}

.statusRejected {
    color: #ff0000;
    border-color: #ff0000;
}

/*---------- Custom Table Css End ----------*/





/*---------- Dash Table Css Start ----------*/
.dashTable {
    text-align: left;
    border-collapse: collapse;
    vertical-align: middle;
    padding: 0px;
}

.dashTable th {
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'A Love of Thunder';
    font-weight: 400;
}

.dashTable tr th, .dashTable tr td {
    padding: 1rem 2.5rem;
}

.dashTable tbody tr td {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.dashTable img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}

/*---------- Dash Table Css End ----------*/







/*---------- Total Table Css Start ----------*/
.totalTableWrapper {
    display: flex;
    justify-content: end;
}

.totalTable tbody tr:last-child {
    border-top: 1px solid #e0e0e0;
}

/*---------- Total Table Css End ----------*/






/*---------- Comment Box Css Start ----------*/
.commentBox {
    display: flex;
    align-items: center;
    gap: 30px;
}

.commentInfo {
    display: flex;
    gap: 20px;
}

.commentatorImage {
    height: 60px;
    aspect-ratio: 1/1;
    border: 2px solid #e4e4e4;
    border-radius: 99px;
    flex-shrink: 0;
    overflow: hidden;
}

.commentatorImage img {
    height: 60px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
}

.commentText {
    color: #999;
}

/*---------- Comment Box Css End ----------*/







/*---------- Button Link Css Start ----------*/
.buttonLinks {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid;
    border-radius: 99px;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s linear;
    cursor: pointer;
    background: #fff;

}

.buttonLinkRed {
    background: #fff;
    color: var(--primaryColor);
    border-color: var(--primaryColor);
    box-shadow: 0px 0px 4px var(--primaryColor);
}

.buttonLinkRed:hover {
    color: #fff;
    background: var(--primaryColor);
}

.buttonLinkGreen {
    background: #fff;
    color: #2FC403;
    border-color: #2FC403;
    box-shadow: 0px 0px 4px #2FC403;
}

.buttonLinkGreen:hover {
    color: #fff;
    background: #2FC403;
}

.buttonLinkGray {
    background: #fff;
    color: #999;
    border-color: #999;
    box-shadow: 0px 0px 4px #999;
}

.buttonLinkGray:hover {
    color: #fff;
    background: #999;
}

/*---------- Button Link Css End ----------*/





/*---------- Data Table Input Css Start ----------*/

.dashLabel {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #999;
    flex-shrink: 0;
}

.dashInput {
    background: #FBFBFB;
    border: 1px solid #e0e0e0;
    font-weight: 500;
    padding: 12px 25px;
    font-size: 16px;
    color: #999;
    width: 100%;
    resize: none;
    border-radius: 99px;
    position: relative;
}

.dashInput:focus {
    outline: none;
}

select.dashInput {
    outline: none;
    min-width: 200px;
    appearance: auto;
}

textarea.dashInput {
    border-radius: 10px;
}

select.dashInput.sm-dropdown {
    min-width: unset;
}

.dashInput::placeholder {
    color: #999;
}

.dashSearchWrap {
    position: relative;
    display: inline-block;
    width: 220px;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    width: auto;
}

.searchIcon svg path {
    fill: #999;
}

.dashInput[type="search"] {
    padding-right: 40px;
}

.dashInput[type="search"]::-webkit-search-decoration, .dashInput[type="search"]::-webkit-search-cancel-button, .dashInput[type="search"]::-webkit-search-results-button, .dashInput[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.dashInput[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.dashInput[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/*---------- Data Table Input Css End ----------*/






/*---------- Custom Tabs Start ----------*/
.customTabs .nav-tabs {
    border: none;
}

.customTabs .nav-tabs .nav-link {
    font-family: 'A Love of Thunder';
    font-size: 20px;
    line-height: 1;
    color: #999;
    border: none;
}

.customTabs .nav-tabs .nav-link.active, .customTabs .nav-item.show .nav-link {
    color: #000;
    border: none;
    border-bottom: 2px solid #000;
}

.customTabs .nav-tabs .nav-link:hover, .customTabs .nav-tabs .nav-link:focus {
    color: #000;
    border: none;
    border-bottom: 2px solid #000;
}

/*---------- Custom Tabs End ----------*/







/*---------- Custom Accordion Start ----------*/
.customAccordion .card {
    border: none !important;
}

.customAccordion .card-header {
    padding: 0 !important;
    border: none !important;
}

.customAccordion .card-header button {
    font-family: 'A Love of Thunder';
    font-size: 18px;
    line-height: 1;
    width: 100%;
    text-align: left;
    color: #fff;
    background: var(--primaryColor);
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

.customAccordion .card-header button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/*---------- Custom Accordion End ----------*/




@media screen and (max-width: 1399px) {
    .rightInput {
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .rightInput {
        width: 100%;
    }

    .pageTitle {
        font-size: 26px;
    }

    .sectionTitle {
        font-size: 20px;
        color: #000;
    }

    .secondaryTitle {
        font-size: 20px;
    }

}






.mainNotification .mediaLeft {
    border: 2px solid #c2c2c2;
    border-radius: 8px;
    text-align: center;
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    font-size: 30px;
    line-height: 50px;
}


.error {
    font-size: 140px;
}

.errorMessage {
    font-size: 28px;
    font-weight: 600;
}

.errorPage {
    display: flex;
    align-items: center;
    justify-content: center;
}